<div class="widget-subheading">
    <form method="POST" action="/update_item_description_{{now_todolist_name}}_{{item_id}}/">
        {% csrf_token %}
        <div class="input-group input-group-sm">
            <input 
                type="text" 
                class="form-control"  
                name="new_item_description" 
                hx-post="/check_item_description_update/" 
                hx-trigger="keyup"
                hx-target="#change_description_form"
                hx-swap="outerHTML"
            >
            <button id="change_description_form" class="btn btn-danger btn-sm" type="submit" disabled>Please type something</button>
        </div>
    </form>
</div>