{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Change Password
{% endblock %}

{% block page_title %}
    Change your Password
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
        <div class="col-md-12 personal-info">
            <form method="POST" action="/change_password/">
                {% csrf_token %}
                {{form|crispy}}
                <button type="submit" class="btn btn-primary font-weight-bold">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}